body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
}
h2{
    padding: 20px;
}

/* Header */
header {
    background-color: #003366;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}
header img {
    width: 60px;
}

/* Content Area */
.content {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.content img {
    width: 500px;
    height: 500px;
    border-radius: 8px;
}

.info::first-letter {
    font-size: 500%;
    font-weight: bold;
    color: #d32f2f;
}

/* Table */
table {
    width: 90%;
    margin: 20px auto;
    background-color: white;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #444;
    color: white;
}

/* Government Actions */
ul {
    max-width: 80%;
    margin: 20px auto;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
}

ul li {
    margin-bottom: 10px;
   
}

/* Footer */
footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
